.dataTables_filter {
  display: none;
}
.dataTables_length select {
  border: 1px solid #e9e9e9;
  padding: 3px 4px;
  border-radius: 4px;
}
.dataTables_paginate {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 30px;
  bottom: 25px;
}
.card-body {
  padding: 1.5rem !important;
}

.brand-table .rdt_TableHeadRow {
  font-size: 18px !important;
}
.brand-table .rdt_TableBody div {
  font-size: 15px !important;
}
